<div class="container">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <label for="" class="label">Enter Email</label>
        <input 
          class="input"
          type="email"
          pattern=".+@.+\..+"
          name="email"
          [(ngModel)]="email"
          required 
          #emailControl="ngModel"
          [ngClass]="{'is-danger': emailControl.invalid && emailControl.touched }"
        />
       <!-- <ng-container *ngIf="emailForm.controls['email'].hasError('invalid') "></ng-container> -->
       <ng-container *ngIf="emailControl.invalid && emailControl.touched">
            <div class="help is-danger" *ngIf="emailControl.hasError('required') ">
                You must enter an email
            </div>
            <div class="help is-danger" *ngIf="emailControl.hasError('pattern') ">
              Please enter a valid email
          </div>
       </ng-container>
    </div>
    <button class="button is-primary" type="submit" [disabled]="emailForm.invalid">submit</button>
  </form>
</div>